p {
    font-size: 12px;
    font-family: $body;
}
h4 {
    margin: 0;
    font-family: $title;
    font-weight: $bold;
}
.job a {
    color: black;
}
a {
    color: $white;
}
.block .chevron {
    margin-left: auto;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $black;
    height: 70px;
    padding: 10px;
    color: white;
    .user {
        margin-left: auto;
        text-align: right;
    }
    .part, .part2 {
        height: min-content;
    }
}
.body {
    background-color: $card;
    height: 100%;
    padding: 15px;
}
.user {
    margin-left: auto;
    vertical-align: middle;
    font-family: $title;
    font-weight: $light;
}

.job {
    background-color: $white;
    height: 100%;
    border-radius: 5px;
}
.block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    align-items: center;
    margin: 1rem 0;
    padding: 0 1rem;
    div p {
        color: $white;
        font-size: 20px;
    }
    span {
        line-height: inherit;
        vertical-align: middle;

    }
    i.icon {
        line-height: inherit;
        vertical-align: middle;
    }
}
.hero {
    border-radius: 5px 5px 0 0;
}
.title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    align-items: center;
    margin: 1rem 0;
    padding: 0 1rem;
}
.highlight {
    background-color: $teal !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;
    div p {
        color: $white;
        font-size: 25px;
        font-family: $title;
        font-weight: $bold;
    }
    div h4 {
        font-size: 12px;
    }
}
.part2 {
    margin-left: auto;
    text-align: right;
}

i, .flex {
    display: inline-block;
    margin: 0 5px;
}

i.icon {
    font-size: 2rem;
    vertical-align: middle;
}
.actions {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    position: relative;
    align-items: center;
    margin: 1rem 1rem;
    button {
        margin: auto;
        height: 3.5rem;
        width: 45%;
    }
}

hr {
    margin-left: 1rem;
    margin-right: 1rem;
}
span > i {
    height: 4rem;
}

@media (min-height: 812px) {
    .block {
        p {
            font-size: 12px;
        }
        margin: 1.5rem 0;
        span {
            h4 {
                font-size: 1.3rem;
            }

        }
    }
}
@media (max-height: 667px) {
    .block {
        margin: 0.5rem 0;
    }
}
@media (min-width: 700px) {
    .job {
        max-width: 750px;
        margin: 0 auto;
        padding-bottom: 1rem;
    }
    .container {
        height: 100%;
    }
}

.link {
    &:hover {
        color: green;
    }
}